.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 270px;
  left: 150px;
}

#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 270px;
  left: 160px;
}

#basket {
  position: absolute;
  z-index: 5;
  top: 270px;
  left: 170px;
}

/* Select the image based on it being a sibling that follows immediately after the element with an id of ball (using adjacent sibling selector) */

/*__write_selector_here__*/
img[alt="kitty 4"] {
  position: absolute;
  z-index: 4;
  top: 270px;
  left: 200px;
}

/* Select the image that has an attribute value matching "Kitty 5" (using attribute selector) */


/*__write_selector_here__*/
img[alt="Kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 270px;
  left: 175px;
}
