/* Select the image with a class of kitty-1 */
write-your-selector-here {
  position: absolute;
  z-index: 1;
  top: 276px;
  left: 129px;
}

/* Select the image with id of kitty-2 */
write-your-selector-here {
  position: absolute;
  z-index: 2;
  top: 212px;
  left: 369px;
}

/* Select the image inside the element with an id of basket (using its descendent relationship) */
write-your-selector-here {
  position: absolute;
  z-index: 5;
  top: 291px;
  left: 319px;
}

/* Select the image based on it being a sibling that follows immediately after the element with an id of ball (using adjacent sibling selector) */
write-your-selector-here {
  position: absolute;
  z-index: 4;
  top: 260px;
  left: 455px;
}

/* Select the image that has an attribute value matching "Kitty 5" (using attribute selector) */
write-your-selector-here {
  position: absolute;
  z-index: 3;
  top: 217px;
  left: 223px;
}
